Repository arthur-trt/ft_transcendence, pull requests merged in 2022-07, with the labels that each got.

#4 Adding auth_cheat
  api/package-lock.json
  api/package.json
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
Labels: enhancement

#16 first try
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Auth.tsx
  frontend/src/components/Header.tsx
Labels: enhancement

#23 Add User.avatar_url in select
  api/src/user/user.service.ts
Labels: enhancement

#24 Add cookie generation and verification
  api/package-lock.json
  api/package.json
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/auth.strategy.ts
  api/src/auth/guards/42-auth.guard.ts
  api/src/auth/guards/jwt-auth.guard.ts
  api/src/auth/jwt/jwt.constants.ts
  api/src/auth/jwt/jwt.strategy.ts
  api/src/main.ts
  api/src/user/user.controller.ts
Labels: enhancement

#26 Add me route
  api/src/dtos/uuid.dto.ts
  api/src/user/user.controller.ts
Labels: enhancement

#27 Add missing dev depandencies
  api/package-lock.json
  api/package.json
Labels: bug

#35 adding 2fa page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Auth.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Profile.tsx
  frontend/src/components/Settings.tsx
  frontend/src/components/TwoFactor.tsx
  frontend/src/index.css
  frontend/src/index.tsx
Labels: enhancement

#42 7 adding 2fa for login
  Caddyfile
  api/package-lock.json
  api/package.json
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/auth.strategy.ts
  api/src/auth/guards/42-auth.guard.ts
  api/src/auth/guards/jwt-auth.guard.ts
  api/src/auth/jwt/jwt.strategy.ts
  api/src/dtos/twofa_token.dto.ts
  api/src/main.ts
  api/src/user/user.controller.ts
  api/src/user/user.service.ts
  frontend/src/components/TwoFactor.tsx
  frontend/src/index.tsx
Labels: enhancement, Back-end

#48 46 add front with channels
  frontend/src/components/TwoFactor.tsx
Labels: bug, frontend

#55 Check only our cookie
  api/src/auth/guards/ws-auth.guard.ts
  api/src/chat/chat.gateway.ts
Labels: bug, Back-end

#64 express pull request from front
  api/src/chat/chat.gateway.ts
  frontend/src/components/Channels-add.tsx
  frontend/src/index.tsx
Labels: frontend

#69 57 add gamegateway
  Caddyfile
  api/src/app.module.ts
  api/src/game/game.gateway.ts
  api/src/game/game.module.ts
  api/src/game/game.service.ts
  docker-compose.yml
  frontend/src/components/Game.tsx
  frontend/src/components/Header.tsx
  frontend/src/index.tsx
Labels: enhancement, Back-end, Socket

#80 add chat
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Game.tsx
  frontend/src/index.css
  frontend/src/index.tsx
Labels: enhancement, frontend

#82 Only one server, one namespace
  api/package-lock.json
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.module.ts
  api/src/game/game.gateway.ts
  api/src/game/game.module.ts
  api/src/game/game.service.ts
  api/src/main.ts
  api/src/user/user.entity.ts
  api/src/websocket/wsserver.service.ts
Labels: bug, enhancement, Back-end, Socket

#89 2fa redirection
  frontend/src/components/Channels-add.tsx
  frontend/src/components/TwoFactor.tsx
Labels: frontend

#96 Add users list
  api/package-lock.json
  api/src/user/user.service.ts
  api/src/websocket/wsserver.service.ts
Labels: Back-end, User, Socket

#101 94 modify list user to include all users
  api/src/websocket/wsserver.service.ts
Labels: bug, Back-end

#104 94 modify list user to include all users
  api/src/websocket/wsserver.service.ts
Labels: bug, Back-end

#109 Remove caddy for traefik
  Caddyfile
  docker-compose.yml
Labels: Back-end, reverse-proxy

#110 105 switch to traeffik
  docker-compose.yml
Labels: bug, Back-end, reverse-proxy

#112 add front to fix friends in back
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: frontend

#121 friends progress
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Profile.tsx
  frontend/src/index.css
Labels: frontend

#131 126 debug option for websocket
  api/src/auth/auth.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Debug.tsx
  frontend/src/components/Header.tsx
  frontend/src/index.tsx
Labels: bug, Back-end

#136 130 finishing friends in front
  api/src/app.module.ts
  api/src/friendships/friendships.service.ts
  api/src/websocket/wsserver.service.ts
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: frontend

#138 Change swagger path and handle by traefik
  README.md
  api/src/main.ts
  docker-compose.yml
Labels: bug, documentation, backend, reverse-proxy

#144 friends features ok
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Profile.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#149 Add avatar upload
  api/.gitignore
  api/package-lock.json
  api/package.json
  api/src/main.ts
  api/src/user/user.controller.ts
  docker-compose.yml
Labels: enhancement, backend, user

#151 front avatar upload
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Profile.tsx
  frontend/src/index.css
Labels: frontend

#157 152 add 2fa and upload avatar
  api/src/app.module.ts
  api/src/auth/auth.controller.ts
  frontend/src/components/Profile.tsx
Labels: enhancement, user, frontend

#159 Add public profile page
  frontend/src/components/Header.tsx
  frontend/src/components/PublicProfile.tsx
  frontend/src/index.tsx
Labels: user, frontend

#164 Add redirect to login if not logged in
  api/src/auth/auth.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TwoFactor.tsx
  frontend/src/index.tsx
Labels: enhancement, frontend

#165 multi fix
  frontend/src/components/Auth.tsx
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Profile.tsx
  frontend/src/components/PublicProfile.tsx
  frontend/src/components/TwoFactor.tsx
  frontend/src/index.css
  frontend/src/index.tsx
Labels: frontend

#167 Add home to
  frontend/src/index.tsx
Labels: bug, frontend

#170 Add route to deactivate twofa
  api/src/auth/auth.controller.ts
  api/src/auth/auth.service.ts
  api/src/main.ts
  docker-compose.yml
Labels: enhancement, backend

#171 95 classic game
  backgroundbbp.png
  frontend/src/game.ts
  game/game.ts
  game/pong.css
  game/pong.html
Labels: enhancement, game, frontend

#173 front fixed
  api/src/websocket/wsserver.gateway.ts
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Profile.tsx
  frontend/src/index.css
Labels: frontend

#177 Add button
  frontend/src/components/Game.tsx
  frontend/src/components/Header.tsx
  frontend/src/game.ts
  frontend/src/index.tsx
Labels: game, frontend

#182 Refacto auth
  api/src/auth/2fa/2fa.controller.ts
  api/src/auth/2fa/2fa.service.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/fortyTwo/fortyTwo.controller.ts
  api/src/auth/fortyTwo/fortyTwo.service.ts
  api/src/auth/fortyTwo/fortyTwo.strategy.ts
  api/src/auth/jwt/jwt.strategy.ts
Labels: backend, refacto

#185 protected and private
  api/src/message/message.service.ts
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#195 invite online and fix css friends
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: frontend

#198 add ownerOp
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#210 207 refacto all game
  api/src/app.module.ts
  api/src/websocket/wsserver.gateway.ts
  docker-compose.yml
  frontend/src/components/Game.tsx
  frontend/src/game.ts
  frontend/src/index.css
  frontend/src/index.tsx
Labels: bug, enhancement, game, frontend, refacto

#212 profile relooking
  frontend/src/components/Profile.tsx
  frontend/src/index.css
Labels: frontend

#219 add set password
  frontend/src/components/Channels-add.tsx
Labels: enhancement, frontend

#227 fixo problemo channelo
  frontend/src/components/Channels-add.tsx
Labels: frontend

#236 Resolve 2fa problem
  README.md
  api/src/auth/2fa/2fa.service.ts
  env_conf.sh
Labels: bug, backend

#238 setadmin need fix
  api/src/channel/channel.service.ts
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: frontend

#242 fixed ladder
  api/src/game/game.controller.ts
  api/src/game/game.service.ts
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Ladder.tsx
  frontend/src/index.css
Labels: frontend

#253 need ban
  api/src/websocket/chat.service.ts
  frontend/src/components/Channels-add.tsx
Labels: frontend

#261 256 fix problems
  frontend/public/index.html
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Ladder.tsx
  frontend/src/components/PublicProfile.tsx
  frontend/src/index.css
  frontend/src/index.tsx
Labels: frontend

#265 262 finishing community
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Game.tsx
  frontend/src/index.css
Labels: enhancement, game, frontend

#267 delete ellipsis
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: frontend

#269 adding front everywhere
  frontend/public/bplogo.png
  frontend/public/index.html
  frontend/src/components/Auth.tsx
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Game.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/bplogo.png
  frontend/src/index.css
Labels: enhancement, frontend

#271 404 not found page
  frontend/src/components/NotFound.tsx
  frontend/src/components/PublicProfile.tsx
  frontend/src/index.css
  frontend/src/index.tsx
Labels: enhancement, frontend

#272 270 404 redirection page
  frontend/src/components/Home.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#274 small fix on home
  frontend/src/components/Home.tsx
Labels: frontend
