Repository arthur-trt/ft_transcendence, pull requests merged in 2022-08, with the labels that each got.

#286 Sorry :(
  api/src/user/user.controller.ts
Labels: enhancement, backend, user

#295 Remove unsued var
  api/src/auth/auth.service.ts
  frontend/src/index.tsx
Labels: enhancement, backend, refacto

#298 273 add private and block for claire fixes
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Ladder.tsx
  frontend/src/components/Profile.tsx
  frontend/src/components/PublicProfile.tsx
Labels: frontend

#299 296 fix 4 maintainability issues in apisrcwebsocketconnectservicets
  api/src/websocket/connect.service.ts
Labels: enhancement, backend, refacto

#305 Handle error when user refuse OAuth
  api/src/auth/fortyTwo/fortyTwo.service.ts
  api/src/auth/guards/42-auth.guard.ts
Labels: bug, backend, user

#322 add dropdown on private
  frontend/src/components/Channels-add.tsx
Labels: frontend

#325 Remove unsed var
  api/src/auth/2fa/2fa.controller.ts
  api/src/auth/2fa/2fa.service.ts
Labels: backend, refacto

#327 326 remove some unused var in auth
  api/src/auth/2fa/2fa.controller.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.service.ts
  api/src/auth/fortyTwo/fortyTwo.service.ts
  api/src/auth/guards/ws-auth.guard.ts
  api/src/auth/jwt/jwt.strategy.ts
  api/src/auth/payload.type.ts
  api/src/game/game.gateway.ts
  api/src/websocket/connect.service.ts
  frontend/src/components/PublicProfile.tsx
Labels: backend, refacto

#330 Remove import useless
  api/src/app.module.ts
Labels: backend, refacto

#333 Remove import
  api/src/dtos/achievement.dto.ts
  api/src/dtos/deleteFromChannelDto.dto.ts
  api/src/dtos/getPrivateMessageDto.dto.ts
  api/src/dtos/joinChannel.dto.ts
  api/src/dtos/match.dto.ts
  api/src/dtos/message.dto.ts
  api/src/dtos/sendChannelMessageDto.dto.ts
  api/src/dtos/sendPrivateMessageDto.dto.ts
  api/src/dtos/user.dto.ts
Labels: backend, refacto

#354 321 add private and block
  frontend/src/components/Channels-add.tsx
  frontend/src/index.css
Labels: frontend

#367 Change name in package.json and fix Docker version
  api/Dockerfile
  api/package-lock.json
  api/package.json
Labels: backend, refacto

#378 Change from href to useLocation()
  frontend/src/components/Header.tsx
Labels: frontend, refacto

#396 need game request
  frontend/src/components/Home.tsx
Labels: frontend

#400 add friends interface
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Home.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#406 need to test invit
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Home.tsx
Labels: frontend

#417 add chatbot and deletechat
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Home.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#425 add history and others things
  frontend/public/profile/bplogo.png
  frontend/src/components/Home.tsx
  frontend/src/components/Ladder.tsx
  frontend/src/components/Profile.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#437 add game request + invite
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Ladder.tsx
  frontend/src/components/Profile.tsx
  frontend/src/index.tsx
Labels: enhancement, frontend

#442 fix game request
  frontend/src/components/Ladder.tsx
  frontend/src/components/Profile.tsx
  frontend/src/index.tsx
Labels: frontend

#451 gameRequests works
  frontend/src/components/Channels-add.tsx
  frontend/src/index.tsx
Labels: frontend

#469 game request
  frontend/src/components/Header.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#474 finish notif
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Header.tsx
  frontend/src/index.css
Labels: enhancement, frontend

#481 add orange status ingame
  frontend/src/components/Channels-add.tsx
Labels: enhancement, frontend

#485 alert msg fetch
  frontend/src/components/Profile.tsx
Labels: enhancement, frontend

#495 no more front wrnings excpet game
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Profile.tsx
Labels: frontend

#502 fix community bugs
  frontend/src/components/Channels-add.tsx
  frontend/src/components/Profile.tsx
Labels: frontend

#519 497 testing
  frontend/src/components/Profile.tsx
Labels: frontend

#529 publicprofil updateee
  api/src/game/game.service.ts
  frontend/src/components/Header.tsx
  frontend/src/components/Profile.tsx
  frontend/src/components/PublicProfile.tsx
Labels: enhancement, frontend

#534 remove reload 2fa
  frontend/src/components/Profile.tsx
Labels: enhancement, frontend

#600 599 check and remove duplicate socket when fast reload you moron
  api/src/game/game.logic.ts
  api/src/websocket/connect.service.ts
  api/src/websocket/wsserver.gateway.ts
Labels: bug, backend, socket

#605 Change script to add timezone
  env_conf.sh
Labels: enhancement, backend
